[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=xfconf-query -c xfwm4 -p /general/theme -s WhiteSur-dark
Name=xfconf
Icon=