[Desktop Entry]
Name=Pi-Apps
Comment=Simple RPI App Store for projects not in the repositories 
Exec=/home/pi/pi-apps/gui
Icon=/home/pi/.MacOSBigSurThemeassets/assets/AppStore.png
Terminal=false
Type=Application
Categories=Utility;
